{
  "env": {
    "browser": true,
    "es2021": true
  },
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [
        ".eslintrc.{js,cjs}"
      ],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "extends": ["airbnb-base", "eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-underscore-dangle":"off",
    "no-shadow": "warn",
    "class-methods-use-this":"off"
  }
}





