.page {
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.page__content {
  /* max-width: calc(1280px - 70px*2); */
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  outline: 1px solid rgb(105, 161, 32);
}

.page__partition_color_turquoise {
  background-color: #073042;
}
.page__partition_color_grey {
  background-color: #272727;
}
.page__partition_color_black {
  background-color: #202020;
}




