/* ----- AboutMe ---- */
.about-me {
  color: #fff;
  /* background-color: #073042; */
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

.about-me__content {
  padding: 111px 0px 0;
  margin: 0 auto;
  max-width: 1140px;
  width: calc(100% - 70px * 2);

}

@media screen and (max-width: 850px) {
  .about-me__content {
    max-width: 710px;
    width: calc(100% - 50px * 2);
    padding: 91px 0px 0;
  }
}

.about-me__subtitle {
  margin: 0;
}

.about-me__resume {
  padding-top: 66px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;

}

.about-me__name {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }
}

.about-me__job-title {
  padding-top: 18px;
  padding-bottom: 26px;
  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@media screen and (max-width: 850px) {
  .about-me__job-title {
    padding-top: 16px;
    padding-bottom: 20px;
  }
}


@media screen and (max-width: 850px) {
  .about-me__job-title {
    font-size: 12px;
    line-height: 18px;
  }
}

.about-me__summary {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__github {
  display: block;
  /* align-self:flex-end; */
  /* justify-self: flex-end; */
  text-decoration: none;
  margin-top: auto;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__foto {
  padding-left: 50px;

}

.about-me__img {
  margin: 0 auto;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  width: 270px;
  height: 327px;
}
@media screen and (max-width: 850px) {
  .about-me__img {
    width: 255px;
    height: 307px;
  }
}